Importing the libraries

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

Loading the Data

In [6]:
self_harm = '/Users/hayaldargin/Desktop/Springboard/Springboard_Work/Capstone_2/Data/Self_harm_All_Injury_Causes.csv'
#Read the csv file into data frame 
Self_harm = pd.read_csv(self_harm)
#Observe the first 5 entries
Self_harm.head(5)

,Sex,Race/Ethnicity,First Year,Last Year,Cause of Injury,Disp,ageRangLo,ageRangHi,Age Group,Year,...,Population,records,suppressed,cv,Number of$Cases (Sample),Standard$Error,CV,Lower 95%$Confidence$Limit,Upper 95%$Confidence$Limit,ageadj
0,B,A,2001,2018,Self-harm All Injury Causes,All Cases,0,199,00-04,2001,...,"19,298,217",.,1,.,.,.,.,.,.,.
1,B,W,2001,2018,Self-harm All Injury Causes,All Cases,0,199,00-04,2001,...,"11,435,173",.,1,.,.,.,.,.,.,.
2,B,B,2001,2018,Self-harm All Injury Causes,All Cases,0,199,00-04,2001,...,"3,120,018",.,1,.,.,.,.,.,.,.
3,B,H,2001,2018,Self-harm All Injury Causes,All Cases,0,199,00-04,2001,...,"3,718,198",.,1,.,.,.,.,.,.,.
4,B,O,2001,2018,Self-harm All Injury Causes,All Cases,0,199,00-04,2001,...,"1,024,828",.,1,.,.,.,.,.,.,.

In [7]:
social_media = '/Users/hayaldargin/Desktop/Springboard/Springboard_Work/Capstone_2/Data/users-by-social-media-platform.csv'
#Read the csv file into data frame 
Social_media = pd.read_csv(social_media)
#Observe the first 5 entries
Social_media.head(5)

     Entity  Year  Monthly active users (Statista and TNW (2019))
0  Facebook  2008                                       100000000
1  Facebook  2009                                       276000000
2  Facebook  2010                                       517750000
3  Facebook  2011                                       766000000
4  Facebook  2012                                       979750000

###  Pick the columns


1. Self_harm:
    * `Sex` 
    * `Race/Ethnicity`
    * `Cause of Injury`
    * `Disp`
    * `Age Group`
    * `Year`
    * `Population`
2. Social_media:    
    * `Entity`#Platform 
    * `Year` 
    * `Monthly active users (Statista and TNW (2019))`

Subsetting the data frame

In [10]:
#Subset DataFrame object Self_harm by the columns
Self_harm = Self_harm[['Sex','Race/Ethnicity', 'Cause of Injury','Disp','Age Group','Year','Population']]

#Check the first five entries
Self_harm.head(5)

,Sex,Race/Ethnicity,Cause of Injury,Disp,Age Group,Year,Population
0,B,A,Self-harm All Injury Causes,All Cases,00-04,2001,"19,298,217"
1,B,W,Self-harm All Injury Causes,All Cases,00-04,2001,"11,435,173"
2,B,B,Self-harm All Injury Causes,All Cases,00-04,2001,"3,120,018"
3,B,H,Self-harm All Injury Causes,All Cases,00-04,2001,"3,718,198"
4,B,O,Self-harm All Injury Causes,All Cases,00-04,2001,"1,024,828"

In [14]:
#Subset DataFrame object Social_media by the columns
Social_media = Social_media[['Entity','Year','Monthly active users (Statista and TNW (2019))']]

#Check the first five entries
Social_media.head(5)

     Entity  Year  Monthly active users (Statista and TNW (2019))
0  Facebook  2008                                       100000000
1  Facebook  2009                                       276000000
2  Facebook  2010                                       517750000
3  Facebook  2011                                       766000000
4  Facebook  2012                                       979750000